   /* Body */
body {
    font-family:'Roboto',
    sans-serif;
    color:  #434455;
    background-color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
button {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top:0; margin-bottom:0;}
ul, ol {
    margin-top: 0; margin-bottom: 0; padding-left: 0;}
a {
    text-decoration: none; font-style: normal;
    color: currentColor;}
ul {
    list-style-type: none;
}
img {display: block;}

/* header-logo */

.container{
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
display: flex;
justify-content: space-between}
  

.logo {color: #4D5AE5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    }
    

.text-logo {color:  #2E2F42;}
.header-top {width: 1158px;
    display: flex;

    border-bottom: 1px solid #E7E9FC
    }


    /* menu */

.nav-menu {
    display: flex;
    align-items: center;
            
        }
    
.menu-header {
    display: flex;
    column-gap: 40px;
    margin-left: 76px;
        }

.menu-item-link {color:  #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    display: block;
    color: #2E2F42;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
        }
    

.menu-item-link:hover,
.menu-item-link:focus, .address-data:hover, .address-data:focus {color: #404BBF;}

        /* address */

.address-data {color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;   
}
.address-dots {
    display: flex;
column-gap: 40px;}
.address {font-style: normal;
    display: flex; }

/* button */

.backcolor {background-color: #2E2F42;
}
.solution {color: #FFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;}

.button-ord {background:#4D5AE5;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    }

.button-ord:hover, .button-ord:focus {background: #404BBF;
    color: #FFF;}

        /* description */
.titles-menu{
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.paragraf {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
        }
.hide-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}        

/* our team */

.our-sec {
    background-color: #F4F4FD
        }
.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize; }
.items { 
    background-color: #FFFFFF
}

/* PORTFOLIO */

.sec-block{
    background: #FFF;
}
.our-port {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.title-port {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* FOOTER */

.bck-col {
    background:#2E2F42;}
.txt-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.par-foot {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;} 