   /* Body */
body {
    font-family:'Roboto',
    sans-serif;
    color:  #434455;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
button {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top:0; margin-bottom:0;}
ul, ol {
    margin-top: 0; margin-bottom: 0; padding-left: 0;}
a {
    text-decoration: none; font-style: normal;
    color: currentColor;}
ul {
    list-style-type: none;
}
img {display: block;
    max-width: 100%;
    height: auto;}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* header-logo */

.container{
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    }
.logo-header {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
        }
.text-logo-header {
    color: #2E2F42;}
.header-container { 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E7E9FC;
    align-items: center;}   

.header {
    border-bottom: 1px solid #e7e9fc;
}
            
.menu-header {
    display:flex;
    gap: 40px;
    }
.menu-item-header {
    display: block;
    color: #2E2F42;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;}
.nav-menu {display:flex;
    align-items: center;
    }
    
.menu-item-link {
    padding-top: 24px;
    padding-bottom: 24px;}
.menu-item-link:hover,
.menu-item-link:focus,.address-data:hover,.address-data:focus {color: #404BBF;}

        /* address */

.address-data {color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;   
}
.address-menu {
    display: flex;
    gap: 40px;}
.address {font-style: normal;
    display: flex; }

/* button */

.backcolor-bc { background-color: #2E2F42; 
    padding: 188px 0;
}
.solution-button {color: #FFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button-ord {background:#4D5AE5;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

.button-ord:hover, .button-ord:focus{
    background: #404BBF;
    color: #FFF;}

        /* description */ 

.titles-menu-desc {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;}
.paragraf {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
        }
.hide-title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}  
.menu-desc {
    display:flex;
    gap:24px;
    
}
.items-menu-desc {
    flex-basis: calc((100% - 3 * 24px) / 4)
}

/* our team */

.our-team {
    background-color: #F4F4FD;
        }
.team-title-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; }
.items-list-team { 
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.items-list-team:last-child {
    margin-right: 0;}
.menu-team { 
    display: flex;
    gap:24px;
    flex-basis: calc((100% - 72px) / 4);
}
.members { 
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;}
.names-team {
    margin-bottom: 8px;
    color:#2E2F42;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}


/* PORTFOLIO */

.sec-block{
    background: #FFF;
}
.our-port {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.title-port {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.wrap {
    flex-wrap: wrap;
    row-gap: 48px;
}
.port-list { 
    width: calc((100% - 48px) / 3);
    padding-left: 0;}
.card-list {
    padding: 32px 16px;
    text-align: left;
    border: 1px solid #E7E9FC;
    border-top: none;  
}
.menu-port {
    display: flex;
        gap: 24px;
        flex-basis: calc((100% - 72px) / 4);
}

/* FOOTER */

.bck-col {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.txt-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.part-foot {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    
} 
.logo-marg {
    margin-bottom: 16px;
    display: inline-block;
}
.spanlog {color: #F4F4FD;
    display: inline-block;
}
.logo-foot {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
